/* Fonts Usage */
@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Lato");

/**********************************************************************************/
/*                                                                                */
/*CSS FOR LG & XL SETTINGS                                                        */
/*                                                                                */
/**********************************************************************************/

.container.hero {
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
}

.name-heading {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  letter-spacing: 0.2rem;
  font-size: 5rem;
  line-height: 50px;
  color: #333333;
}

ion-icon {
  padding: 0px 25px;
  font-size: 2rem;
  vertical-align: -webkit-baseline-middle;
  color: #e6795c;
}

.nav-item {
  padding: 0px 25px;
}

.hero-content {
  top: 5%;
  left: 50%;
  position: absolute;
}

.img-rounded {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  ime-mode: auto;
  max-height: 260px;
  max-width: 260px;
  border: 4px solid rgba(255, 255, 255, 1);
  -webkit-filter: drop-shadow(5px 5px 5px #222) !important;
  filter: drop-shadow(-4px 3px 5px rgba(0, 0, 0, 0.85)) !important;
  transition: filter 0.25s;
  background-color: #8eb3a5;
}

.img-rounded:hover {
  transform: rotate(-360deg);
  -webkit-filter: drop-shadow(5px 5px 5px #222) !important;
  filter: drop-shadow(-2px 1px 3px rgba(0, 0, 0, 0.85)) !important;
  transition: transform 1.5s;
}

.customDiv {
  margin: 0px;
  min-height: 340px;
  text-align: center;
  font-size: large;
}

.container {
  min-width: 100%;
}

.rightSideHero {
  padding-right: 0px !important;
}

.rightSideHero {
  top: 15.5%;
  left: 1%;
  position: absolute !important;
  z-index: 1 !important;
  text-align: right;
}

.headingLanding {
  padding: 5px 0px 5px 0px;
  margin: 0px -15px 0px 0px;
  font-family: "Crimson Text", serif;
  font-size: 5.5em !important;
  line-height: 0.7em;
  text-align: center !important;
  color: rgba(255, 255, 255, 0.9);
  -webkit-filter: drop-shadow(5px 5px 5px #222) !important;
  filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.85)) !important;
}

.lead {
  font-size: 1.1em !important;
  font-weight: 700 !important;
  font-family: "Lato", sans-serif !important;
  line-height: 1em;
  word-spacing: 0.5em;
  border-radius: 7px;
  text-align: center !important;
  margin: -5px 112px 0px 112px;
  color: #292929;
  padding: 10px 0px 10px 22px;
}

.landingBtn {
  margin: 50px 0px 0px 0px !important;
  border: 2px solid white !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  -webkit-filter: drop-shadow(5px 5px 5px #222) !important;
  filter: drop-shadow(-5px 4px 4px rgba(0, 0, 0, 0.85)) !important;
  letter-spacing: 0.1em;
  word-spacing: 0.3em;
  cursor: pointer !important;
}

.landingBtn:hover {
  border: 2px solid white !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
  -webkit-filter: drop-shadow(5px 5px 5px #222) !important;
  filter: drop-shadow(-2px 1px 2px rgba(0, 0, 0, 0.85)) !important;
  letter-spacing: 0.1em;
  transition: filter 0.2s;
}

/**********************************************************************************/
/*                                                                                */
/*CSS FOR MD, SM & XS SETTINGS                                                    */
/*                                                                                */
/**********************************************************************************/

.img-rounded-small {
  margin: 40px 0px 0px 0px;
  border-radius: 50%;
  max-height: 220px;
  max-width: 220px;
  border: 3px solid rgba(255, 255, 255, 1);
  transition: filter 0.25s;
  background-color: #8eb3a5;
  -webkit-filter: drop-shadow(5px 5px 5px #222) !important;
  filter: drop-shadow(-4px 3px 5px rgba(0, 0, 0, 0.85)) !important;
  transition: filter 0.25s;
}

.img-rounded-small:hover {
  transform: rotate(-360deg);
  -webkit-filter: drop-shadow(5px 5px 5px #222) !important;
  filter: drop-shadow(-2px 1px 3px rgba(0, 0, 0, 0.85)) !important;
  transition: transform 1.5s;
}

.customDivSmall {
  margin: 0px;
  min-height: 340px;
  text-align: center;
  font-size: large;
}

.col-md-12 {
  padding: 0px !important;
}

.headingLandingSmall {
  padding: 10px 0px 0px 0px;
  margin: 0px;
  font-family: "Crimson Text", serif;
  font-size: 4.5em !important;
  font-weight: 700 !important;
  line-height: 0.7em;
  text-align: center !important;
  color: #e6795c;
  -webkit-filter: drop-shadow(5px 5px 5px #222) !important;
  filter: drop-shadow(-2px 2px 1px rgba(0, 0, 0, 0.85)) !important;
}

.hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.leadSmall {
  font-size: 0.95em !important;
  font-weight: 700 !important;
  font-family: "Lato", sans-serif !important;
  line-height: 1em;
  word-spacing: 0.5em;
  border-radius: 7px;
  color: #292929;
  margin: -23px 0px 0px 0px;
  padding: 0;
}

.bkgBtn {
  margin-top: 75px;
}

.bkgBtnSmall {
  margin-top: 25px;
}

.customDivSmall {
  margin: 0px;
  min-height: 340px;
  text-align: center;
  font-size: large;
}

.landingBtnSmall {
  margin-top: -45% !important;
  margin-left: 40% !important;
  border: 2px solid white !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  -webkit-filter: drop-shadow(5px 5px 5px #222) !important;
  filter: drop-shadow(-5px 4px 4px rgba(0, 0, 0, 0.85)) !important;
  letter-spacing: 0.1em;
  word-spacing: 0.3em;
  cursor: pointer !important;
}

.landingBtnSmall:hover {
  border: 2px solid white !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
  -webkit-filter: drop-shadow(5px 5px 5px #222) !important;
  filter: drop-shadow(-2px 1px 2px rgba(0, 0, 0, 0.85)) !important;
  letter-spacing: 0.1em;
  transition: filter 0.2s;
}

/**********************************************************************************/
/*                                                                                */
/*CSS FOR FOOTER ALL SIZES                                                        */
/*                                                                                */
/**********************************************************************************/

.footer {
  padding-top: 50px;
  padding-bottom: 0px;
}

#textProudly {
  border-bottom: 1px solid #006545ca;
  font-size: 0.8rem;
  color: #0000007e;
  font-weight: 400;
}
#textMadeIn {
  border-bottom: 1px solid #ffffffc9;
  font-size: 0.8rem;
  color: #0000007e;
}
#textMexico {
  border-bottom: 1px solid #c81125c9;
  font-size: 0.8rem;
  color: #0000007e;
}
