/* Fonts Usage */
@import url("https://fonts.googleapis.com/css?family=Kanit");

.name-heading {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  letter-spacing: 0.2rem;
  font-size: 5rem;
  line-height: 50px;
  color: #333333;
}

ion-icon {
  padding: 0px 25px;
  font-size: 2rem;
  vertical-align: -webkit-baseline-middle;
  color: red;
}

.nav-item {
  padding: 0px 25px;
}
